#registerForm{
    display: block;
    width: 300px;
}

#registerBtn{
    display: block;
    width: 100px;
}

input{
    margin-bottom: 5px;
}

a:hover{
    color: red;
}

.lock{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}