<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand navbar-dark bg-danger bg-dark">
            <h1 id="pageTitle" class="ps-1"><b>Digital Bookshop</b></h1>
            

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']"><mat-icon class="miniIcons" fontIcon="home"></mat-icon>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/checkout']"><mat-icon class="miniIcons" fontIcon="local_grocery_store"></mat-icon>Checkout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']"><mat-icon class="miniIcons" fontIcon="person"></mat-icon>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/register']"><mat-icon class="miniIcons" fontIcon="create"></mat-icon>Register</a>
                </li>
            </ul>
            
        </nav>
    </div>
</div>

